system/system/apex/com.android.vndk.current.apex
system/system/vital-app/Soloop/Soloop.apk
system_ext/vital-app/Agoda/Agoda.apk
system_ext/vital-app/AmazonMusicEU/AmazonMusicEU.apk
system_ext/vital-app/AmazonMusicIN/AmazonMusicIN.apk
system_ext/vital-app/Daraz/Daraz.apk
system_ext/vital-app/Lazada/Lazada.apk
system_ext/vital-app/RealmeLink/RealmeLink.apk
system_ext/vital-app/Snapchat/Snapchat.apk
system_ext/vital-app/Tiktok/Tiktok.apk
system_ext/vital-app/YandexAPP/YandexAPP.apk
system_ext/vital-app/YandexBrowser/YandexBrowser.apk
system_ext/vital-app/Zalo/Zalo.apk
product/app/Messages/Messages.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
my_preload/vital-app/Moj/Moj.apk
my_preload/vital-app/ShopeeID/ShopeeID.apk
my_preload/vital-app/ShopeePH/ShopeePH.apk
my_preload/vital-app/ShopeeVN/ShopeeVN.apk
my_preload/vital-app/Snapchat/Snapchat.apk
my_preload/vital-app/TrueCaller/TrueCaller.apk
